.ImgConatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background: linear-gradient(0deg, rgba(255,245,182,0.9585084033613446) 51%, rgba(110,193,215,0.9473039215686274) 75%);
  }
  
  .HeroImg {
    width: 800px;
    height: 500px;

  }